#taggie {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border:none;
    background-color: rgb(231, 231, 231);
}
#taggie:hover{
    background-color: rgb(195, 216, 230);
}
#taggie:active{
    background-color: rgb(170, 204, 226);
}
#tagName{
    margin: 0px 1.1rem 0px 0px;
    font-size: 1.1rem;
}
#tagCount{
    font-size: 1.1rem;
    margin: 0px;
    color: rgb(141, 141, 141);
}